<template>
  <section class="section">
    <div class="container">
      <div class="article-title column has-text-centered is-uppercase">
        <h1>Article Selection</h1>
      </div>

      <div class="columns">
        <div :id="'article'+set.id" class="column is-4 content article" v-for="set in currentSet"
             @click="continueWithAnswer(set)">
          <h1>{{ set.article.name }}</h1>
          <p>{{ set.article.content }}</p>
        </div>
      </div>

      <div class="back-button">
        <button class="button is-back" @click="backToPlayerDesk">
          <span class="text">Return</span><span class="logo">⇲</span></button>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'article-selection',
    computed: {
      ...mapState(['selectedCombination']),
      ...mapGetters(['currentSet'])
    },
    mounted () {
      if (this.selectedCombination.article) {
        this.showSelectedChoice()
      }
    },
    methods: {
      continueWithAnswer (set) {
        this.$store.commit('setSelectedCombination', {
          type: 'article',
          id: set.id
        })

        this.$router.push('/player-desk')
      },
      showSelectedChoice () {
        const selectedArticle = document.querySelector('#article' + this.selectedCombination.article)

        document.querySelector('#' + selectedArticle.id).style.background = '#85c4dd'
      },
      backToPlayerDesk () {
        this.$store.commit('checkForDisable')
        this.$router.push('/player-desk')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'amarath bold', sans-serif;
  $bolditalic: 'amarath bold italic', sans-serif;
  $italic: 'amarath italic', sans-serif;
  $regular: 'amarath regular', sans-serif;
  $helveticabold: 'helvetica rounded', sans-serif;

  .section {
    background-color: #f9b5ad;
  }

  .article-title {
    font-family: $bold;
    line-height: 100%;
    font-size: 3.5vw;
    margin: -2% 0 1%;
  }

  .article {
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
    padding: 2.5% 1.5%;
    margin: 0;

    h1 {
      font-family: $bolditalic;
      font-size: 1.5em;
      height: 15%;
    }

    p {
      font-family: $italic;
      font-size: 1.1em;
    }

    &:hover {
      background-color: #ffe36a;
    }
  }
</style>
