<template>
    <div class="modal" :class="{ 'is-active': isActive }">
        <div class="modal-background" @click="closeModal"></div>

        <div class="file modal-card">
            <div class="content columns is-mobile">
                <div class="image content column is-5">
                    <img :src="magazines[currentMagazineSet][selectedCombination.cover - 1].cover.image">
                </div>

                <div class="content column is-7">
                    <h1>{{ magazines[currentMagazineSet][selectedCombination.article - 1].article.name }}</h1>
                    <p> {{ magazines[currentMagazineSet][selectedCombination.article - 1].article.content }}</p>
                    <div class="buttons">
                        <div class="back-button">
                            <button class="button is-back" @click="closeModal">
                                <span class="text">Back</span><span class="logo">⇲</span></button>
                        </div>

                        <div class="next-button">
                            <button class="button is-next" @click="goPublish">
                                <span class="text">Next</span><span class="logo">⇲</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'confirm-modal',
    props: {
      isActive: Boolean
    },
    computed: {
      ...mapState(['currentMagazineSet', 'selectedCombination', 'magazines'])
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      },
      goPublish () {
        this.$store.commit('computeScore')
        this.$store.commit('computeRespond')

        this.$router.push('/publish')
      }
    }
  }
</script>

<style lang="scss" scoped>
    $bold: 'amarath bold', sans-serif;
    $bolditalic: 'amarath bold italic', sans-serif;
    $italic: 'amarath italic', sans-serif;
    $regular: 'amarath regular', sans-serif;
    $helveticabold: 'helvetica rounded', sans-serif;

    .file {
        overflow-x: hidden;
        overflow-y: hidden !important;
        background-color: #FDDCB5;
        border-bottom: 2px solid #4a4a4a;
        border-radius: 25px;
        width: 70vw;
        padding: 2%;

        img {
            border: 2px solid #4a4a4a;
            border-radius: 25px;
            width: 80%;
        }

        h1 {
            font-family: $bolditalic;
            font-size: 1.5em;
        }
        p {
            font-family: $italic;
            font-size: 1.2em;
        }
    }

    .buttons {
        background-color: #f2c99b;
        padding: 2%;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        justify-content: space-around;
    }
</style>
