<template>
    <section class="section">
        <div class="container">
            <div class="cover-title column has-text-centered is-uppercase">
                <h1>Cover Selection</h1>
            </div>

            <div class="columns is-mobile">
                <div class="column cover" v-for="set in currentSet"
                     @click="continueWithAnswer(set)">
                    <img :id="'cover'+set.id" :src="set.cover.image" :alt="`Image of ${set.id}`">
                </div>
            </div>

            <div class="back-button">
                <button class="button is-back" @click="backToPlayerDesk">
                    <span class="text">Return</span><span class="logo">⇲</span></button>
            </div>
        </div>
    </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'cover-designer',
    computed: {
      ...mapState(['selectedCombination']),
      ...mapGetters(['currentSet'])
    },
    mounted () {
      if (this.selectedCombination.cover) {
        this.showSelectedChoice()
      }
    },
    methods: {
      continueWithAnswer (set) {
        this.$store.commit('setSelectedCombination', {
          type: 'cover',
          id: set.id
        })

        this.$router.push('/player-desk')
      },
      showSelectedChoice () {
        const selectedCover = document.querySelector('#cover' + this.selectedCombination.cover)

        document.querySelector('#' + selectedCover.id).style.backgroundColor = '#ffe36a'
        document.querySelector('#' + selectedCover.id).style.padding = '3%'
      },
      backToPlayerDesk () {
        this.$store.commit('checkForDisable')
        this.$router.push('/player-desk')
      }
    }
  }
</script>

<style lang="scss" scoped>
    $bold: 'amarath bold', sans-serif;
    $bolditalic: 'amarath bold italic', sans-serif;
    $italic: 'amarath italic', sans-serif;
    $regular: 'amarath regular', sans-serif;
    $helveticabold: 'helvetica rounded', sans-serif;

    .section {
        background-color: #95ddb1;
    }

    .cover-title {
        font-family: $bold;
        line-height: 100%;
        font-size: 3.5vw;
        margin: -2% 0 1%;
    }

    .cover {
        cursor: pointer;
        padding: 1% 2% 0;

        img {
            padding: 5%;
            background-color: whitesmoke;
            transition: all 0.5s;

            &:hover {
                border: 5px solid #4a4a4a;
            }
        }
    }
</style>
