<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered has-text-centered animated slideInUp">
          <div class="column is-half is-offset-one-quarter">
            <p class="content">
              © 2018 Curriculum Planning & Development Division
              <br/>
              Ministry of Education, Singapore
            </p>

            <p class="content">All rights reserved</p>

            <h1 class="title">Acknowledgements</h1>

            <p class="content">
              The Ministry of Education wishes to thank the following for permission to use copyright material:
            </p>

            <h2 class="subtitle">Music</h2>

            <p class="content">
              Music: The Jazz Piano from <a href="https://www.bensound.com">Bensound.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Credits'
  }
</script>

<style lang="scss" scoped>
  * {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
  }

  p {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.2em;
    text-decoration: underline;
  }

  .slideInUp {
    animation-timing-function: linear;
    animation-duration: 5s;
  }
</style>
