<template>
  <div class="column">
    <div :id="'icon'+icon.id" class="column has-text-centered navigation-icons" :class="{ disabled: !icon.isEnabled }"
         @click="gotoActivity(icon)">

      <img :src="icon.image"/>

      <h1>{{ icon.name }}</h1>
    </div>

    <confirm-modal :isActive="isActive" @closeModal="closeModal" v-if="isActive"/>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import ConfirmModal from '@/components/ConfirmModal'

  export default {
    name: 'DeskIcon',
    components: { ConfirmModal },
    props: {
      icon: Object
    },
    data () {
      return {
        isActive: false
      }
    },
    computed: {
      ...mapState(['currentMagazineSet'])
    },
    methods: {
      gotoActivity (icon) {
        let path

        switch (icon.id) {
          case 1:
            path = '/research'
            break
          case 2:
            path = '/article-selection'
            break
          case 3:
            path = '/cover-designer'
            break
          case 4:
            path = '/player-desk'
            this.isActive = true
            break
        }

        if (icon.isEnabled) {
          this.$emit('setNextEnabled', icon.id)

          this.$router.push(path)
        }
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'amarath bold', sans-serif;

  .navigation-icons {
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s;

    img {
      width: 40%;
    }

    h1 {
      font-size: 1.5em;
      font-family: $bold;
    }
  }

  #icon1 {
    &:hover {
      background-color: #85c4dd;
    }
  }

  #icon2 {
    &:hover {
      background-color: #f9a1a9;
    }
  }

  #icon3 {
    &:hover {
      background-color: #78dd99;
    }
  }

  #icon4 {
    &:hover {
      background-color: #879bf4;
    }
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: transparent !important;
    }
  }
</style>
