<template>
  <section class="section"
           :style="{ backgroundImage: `url(${require(`@/assets/images/endings/${endings[finalEnding].background}`)})` }">
    <div class="content">
      <div class="speech-bubble-final-border">
        <div class="speech-bubble-final">
          <p>{{ endings[finalEnding].text }}</p>
        </div>
      </div>

      <div class="buttons is-pulled-right">
        <button class="button is-choice is-large has-text-centered is-uppercase" @click="resetGame">
          Play Again
        </button>

        <button class="button is-choice is-large has-text-centered is-uppercase goto-credits" @click="gotoCredits">
          Exit
        </button>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'FinalReview',
    computed: {
      ...mapState(['endings', 'finalEnding'])
    },
    methods: {
      resetGame () {
        this.$router.push('/player-desk')
        window.location.reload()
      },
      gotoCredits () {
        this.$router.push('/credits')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'amarath bold', sans-serif;
  $bolditalic: 'amarath bold italic', sans-serif;
  $italic: 'amarath italic', sans-serif;
  $regular: 'amarath regular', sans-serif;
  $helveticabold: 'helvetica rounded', sans-serif;

  section {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .container {
    margin: 0;
    height: 100%;
  }

  .content {
    height: 100%;

    .speech-bubble-final-border {
      clip-path: polygon(0 0, 90% 0, 90% 70%, 100% 80%, 90% 80%, 90% 100%, 0 100%);
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0 55% 0 0;
      position: relative;
      height: 60%;
    }

    .speech-bubble-final {
      clip-path: polygon(0 0, 90% 0, 90% 70%, 100% 80%, 90% 80%, 90% 100%, 0 100%);
      background-color: rgba(121, 71, 180, 0.9);
      position: absolute;
      margin: 1% 1% 1% 1.5%;
      height: 96%;
      width: 97.5%;
      padding: 1% 12% 0 2%;

      p {
        white-space: pre-line;
        font-family: $regular;
        font-size: 1.5em;
        line-height: 100%;
        color: whitesmoke;
      }
    }
  }

  .is-choice {
    border: 5px double #ffe36a;
    background-color: #1ebac0;
    font-family: $helveticabold;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
