<template>
  <section class="section is-paddingless"
           :style="{ backgroundImage: `url(${require(`@/assets/images/${story.background}`)})` }">
    <div class="first-page columns" v-if="storyCounter === 0">
      <div class="first-page-content column is-4">
        <h1 class="is-uppercase">Magazine Editor</h1>

        <p>Click on Next to begin.</p>
      </div>
    </div>

    <div class="second-page" v-else-if="storyCounter === 1">
      <div class="second-page-image">
        <img :src="story.image" alt="">
      </div>

      <div class="second-page-text">
        <div class="speech-bubble-second-border">
          <div class="speech-bubble-second">
            <p class="is-magazine-text">{{ story.speech }}</p>

            <p class="is-magazine-text" v-html="story.text"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="third-page" v-else-if="storyCounter === 2">
      <div class="third-page-text">
        <div class="speech-bubble-third-border">
          <div class="speech-bubble-third">
            <p>{{ story.text }}</p>
          </div>
        </div>
      </div>

      <div class="third-page-image">
        <img :src="story.image" alt="">
      </div>
    </div>

    <div class="fourth-page" v-else-if="storyCounter === 3">
      <div class="fourth-page-left">
        <img :src="story.imageOne" alt="">
      </div>

      <div class="fourth-page-right">
        <div class="fourth-page-text">
          <div class="speech-bubble-fourth-border">
            <div class="speech-bubble-fourth">
              <p>{{ story.text }}</p>
            </div>
          </div>
        </div>

        <div class="fourth-page-right-image">
          <img :src="story.imageTwo" alt="">
        </div>
      </div>
    </div>

    <div class="fifth-page" v-else-if="storyCounter === 4">
      <div class="fifth-page-text">
        <div class="speech-bubble-fifth-border">
          <div class="speech-bubble-fifth">
            <p>{{ story.text }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="six-seven-page" v-else-if="storyCounter < 7">
      <div class="six-seven-page-text">
        <div class="speech-bubble-six-seven-border">
          <div class="speech-bubble-six-seven">
            <p>{{ story.text }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="other-page" v-else-if="storyCounter < 10">
      <div class="other-page-text" :key="storyCounter">
        <div class="speech-bubble-other-border">
          <div class="speech-bubble-other">
            <p>{{ story.text }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="laptop-start " v-else>
      <div class="wallpaper"></div>
      <div class="home-screen">
        <img :src="require(`@/assets/images/laptop-profile.png`)" alt="">

        <button class="button is-large is-start-button" @click="startApp">Access Computer</button>
      </div>
    </div>

    <div class="story-buttons">
      <div class="back-button">
        <button class="button is-back" @click="goBack" v-if="storyCounter > 0">
          <span class="text">Back</span><span class="logo">⇲</span></button>
      </div>

      <div class="next-button">
        <button class="button is-next" @click="goNext" v-if="storyCounter < 10">
          <span class="text">Next</span><span class="logo">⇲</span></button>
      </div>
    </div>

  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Introduction',
    data () {
      return {
        storyCounter: 0
      }
    },
    computed: {
      ...mapState(['stories']),
      story () {
        return this.stories[this.storyCounter]
      }
    },
    methods: {
      startApp () {
        this.$router.push('/player-desk')
      },
      goNext () {
        this.storyCounter++
      },
      goBack () {
        this.storyCounter--
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'amarath bold', sans-serif;
  $bolditalic: 'amarath bold italic', sans-serif;
  $italic: 'amarath italic', sans-serif;
  $regular: 'amarath regular', sans-serif;
  $helveticabold: 'helvetica rounded', sans-serif;

  .story-buttons {

    .next-button {
      position: fixed;
      right: 5vw;
      bottom: 5vh;
    }

    .back-button {
      position: fixed;
      left: 5vw;
      bottom: 5vh;
    }
  }

  .first-page {;
    position: absolute;
    top: 10%;
    left: 3%;

    .first-page-content {

      h1 {
        font-family: $helveticabold;
        font-size: 7em;
        line-height: 100%;
        color: #f5c23e;
        text-shadow: 0 0.6vh #eb634a;
      }

      p {
        font-size: 1.5em;
        margin-top: 25%;
      }
    }
  }

  .second-page {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;

    .second-page-image {
      position: relative;

      img {
        width: 80%;
        position: absolute;
        bottom: 0;
        animation: 1.2s slidingRight forwards;
      }
    }

    .second-page-text {
      animation: bubblefade 2.2s;

      .speech-bubble-second-border {
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 20%;
        height: 32%;
        width: 70%;
        position: relative;
      }

      .speech-bubble-second {
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
        background-color: rgba(241, 136, 150, 0.9);
        margin: 1% 0 0 2%;
        height: 96%;
        width: 96%;
        position: absolute;
        padding: 1% 1% 0 12%;

        p {
          font-size: 1.5em;
          color: #180b0b;
        }

      }
    }
  }

  .third-page {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .third-page-text {
      animation: bubblefade 2.2s;

      .speech-bubble-third-border {
        clip-path: polygon(0 0, 90% 0, 90% 70%, 100% 80%, 90% 80%, 90% 100%, 0 100%);
        background-color: rgba(0, 0, 0, 0.5);
        margin: 20% 0 0 30%;
        height: 32%;
        width: 75%;
        position: relative;

        .speech-bubble-third {
          clip-path: polygon(0 0, 90% 0, 90% 70%, 100% 80%, 90% 80%, 90% 100%, 0 100%);
          background-color: rgba(236, 185, 40, 0.9);
          margin: 1% 0 0 1.5%;
          height: 95%;
          width: 96.5%;
          position: absolute;
          padding: 1% 12% 0 2%;

          p {
            font-size: 1.5em;
            color: #180b0b;
          }
        }
      }
    }

    .third-page-image {
      position: relative;

      img {
        width: 65%;
        position: absolute;
        bottom: 0;
        right: 15%;
        animation: 1.2s slidingRightThird forwards;
      }
    }
  }

  .fourth-page {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .fourth-page-left {
      position: relative;

      img {
        animation: bubblefade 1s;
        width: 45%;
        position: absolute;
        bottom: 0;
        right: 25%;
      }
    }

    .fourth-page-right {
      height: 100%;
      display: grid;
      grid-template-rows: 50%;

      .fourth-page-text {
        animation: bubblefade 2.5s;

        .speech-bubble-fourth-border {
          clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
          background-color: rgba(0, 0, 0, 0.5);
          margin-top: 10%;
          height: 47%;
          width: 70%;
          position: relative;

          .speech-bubble-fourth {
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
            background-color: rgba(241, 136, 150, 0.9);
            margin: 1% 0 0 3%;
            height: 94%;
            width: 96%;
            position: absolute;
            padding: 1% 1% 0 12%;

            p {
              font-size: 1.5em;
              color: #180b0b;
            }
          }
        }
      }

      .fourth-page-right-image {
        animation: bubblefade 1.5s;
        position: relative;

        img {
          position: absolute;
          width: 60%;
          bottom: 0;
        }
      }
    }
  }

  .fifth-page {
    height: 100%;

    .fifth-page-text {
      padding-top: 3%;
      animation: bubblefade 1.2s;
      height: 100%;

      .speech-bubble-fifth-border {
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0 15% 0 50%;
        position: relative;
        height: 30%;
      }

      .speech-bubble-fifth {
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
        background-color: rgba(121, 71, 180, 0.9);
        position: absolute;
        margin: 1% 1% 1% 1.5%;
        height: 96%;
        width: 97.5%;
        padding: 7% 5% 5% 15%;

        p {
          font-size: 1.5em;
          color: whitesmoke;
        }

      }
    }
  }

  .six-seven-page {
    height: 100%;
    width: 100vw;
    animation: bubblefade 1.2s;

    .six-seven-page-text {
      padding-top: 3%;
      height: 100%;

      .speech-bubble-six-seven-border {
        clip-path: polygon(0 0, 90% 0, 90% 70%, 100% 80%, 90% 80%, 90% 100%, 0 100%);
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0 58% 0 10%;
        position: relative;
        height: 30%;
      }

      .speech-bubble-six-seven {
        clip-path: polygon(0 0, 90% 0, 90% 70%, 100% 80%, 90% 80%, 90% 100%, 0 100%);
        background-color: rgba(121, 71, 180, 0.9);
        position: absolute;
        margin: 1% 1% 1% 1.5%;
        height: 96%;
        width: 97.5%;
        padding: 1% 12% 0 2%;

        p {
          font-size: 1.5em;
          color: whitesmoke;
        }
      }
    }
  }

  .other-page {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: flex-end;

    .other-page-text {
      width: 100%;
      animation: bubblefade 1.2s;

      .speech-bubble-other-border {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 2.5% auto;
        height: 15%;
        width: 70%;
      }
      .speech-bubble-other {
        background-color: rgba(121, 71, 180, 0.9);
        margin: 0 auto;
        height: 95%;
        width: 97.5%;
        padding: 1%;

        p {
          font-size: 1.5em;
          color: whitesmoke;
        }

      }
    }
  }

  .laptop-start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .wallpaper {
      position: fixed;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-color: #FDDCB5;
    }

    .home-screen {
      display: flex;
      flex-direction: column;

      img {
        margin: 0 auto 10%;
        border: 2px solid #4a4a4a;
        border-radius: 50%;
        background-color: whitesmoke;
        width: 40%;
      }

      .is-start-button {
        font-family: $bold;
        border: 1px solid black;
        background-color: #3a9ddd;
        transition: all 0.3s;

        &:hover {
          color: whitesmoke;
          border: 1px solid whitesmoke;
          background-color: #23b7dd;
        }
      }
    }
  }

  @keyframes slidingRight {
    0% {
      right: 50%;
      bottom: -15%;
      opacity: 0;
    }
    100% {
      right: -10%;
      opacity: 1;
      bottom: 0;
    }
  }

  @-webkit-keyframes slidingRight {
    0% {
      right: 50%;
      bottom: -15%;
      opacity: 0;
    }
    100% {
      right: -10%;
      opacity: 1;
      bottom: 0;
    }
  }

  @keyframes slidingRightThird {
    0% {
      right: -50%;
      bottom: -15%;
      opacity: 0;
    }
    100% {
      right: 25%;
      opacity: 1;
      bottom: 0;
    }
  }

  @-webkit-keyframes slidingRightThird {
    0% {
      right: -50%;
      bottom: -15%;
      opacity: 0;
    }
    100% {
      right: 25%;
      opacity: 1;
      bottom: 0;
    }
  }
</style>
