<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-uppercase">Desktop</h1>
      <div class="columns is-mobile">
        <desk-icon :key="icon.id" :icon="icon" v-for="icon in deskIcons" @setNextEnabled="setNextEnabled"/>
      </div>
      <div class="preview columns is-mobile">
        <div class="column is is-offset-1 is-2 preview-image" v-if="selectedCombination.cover !== null">
          <img :src="magazines[currentMagazineSet][selectedCombination.cover - 1].cover.image">
        </div>
        <div class="column is-8 preview-text" v-if="selectedCombination.article !== null">
          <h1>Preview :</h1>
          <p> {{ magazines[currentMagazineSet][selectedCombination.article - 1].article.name }}</p>
          <p> {{ magazines[currentMagazineSet][selectedCombination.article - 1].article.content }}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import DeskIcon from '@/components/DeskIcon'

  export default {
    name: 'PlayerDesk',
    components: { DeskIcon },
    computed: {
      ...mapState(['deskIcons', 'currentMagazineSet', 'selectedCombination', 'magazines', 'selectedCombination'])
    },
    methods: {
      setNextEnabled (index) {
        if (this.deskIcons.length - 1 >= index) {
          this.$store.commit('setDeskIcon', index)
          // this.deskIcons[index].isEnabled = true
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'amarath bold', sans-serif;

  .section {
    background-color: #FDDCB5;
    height: 100vh;
  }

  .container {
    height: 25%;
  }

  .preview {
    .preview-text {
      h1 {
        font-weight: bold;
        font-size: 2em;
      }

      p{
        margin-top: 1%;
        font-size: 1.2em;
      }
    }
  }

  .title {
    margin-left: 5%;
    font-size: 10em;
    font-family: $bold;
  }
</style>
