<template>
  <section class="section"
           :style="{ backgroundImage : `url(${require(`@/assets/images/results/${this.assignmentResults[this.imageResult - 1].image}`)})`}">
    <div class="container">
      <div class="publish-screen columns is-mobile" v-if="storyCounter === 0">
        <div class="publish-screen-left column is-6">
          <img :src="require(`@/assets/images/intro-girl-phone.png`)" alt=""/>
        </div>

        <div class="publish-screen-right column is-6">
          <div class="speech-bubble-publish-border">
            <div class="speech-bubble-publish">
              <p class="content">
                Well, I did my best for this assignment, let's check my email and see what Erin has to say.
              </p>

              <div class="speech-bubble-publish-button">
                <img :src="require(`@/assets/icons/mailing.svg`)" alt="" @click="nextScene"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="results-email columns" v-else>
        <div class="results-email-left column is-6">
          <img :src="require(`@/assets/images/phone.png`)">
        </div>

        <div class="results-email-right column is-6">
          <div class="phone">
            <div class="has-text-centered">
              <img :src="require(`@/assets/images/results/${this.assignmentResults[this.imageResult - 1].boss}`)">
            </div>

            <p>To: editor@criticalpublishing.com</p>
            <p>Subject: Feedback</p>
            <p>{{ feedbacks[currentMagazineSet].report[response] }}</p>

            <div class="result-email-button">
              <div class="content goto-office" @click="lastReview" v-if="seeBoss">
                <button class="button is-warning">Head to Erin's office</button>
              </div>

              <div class="content goto-assignment" @click="goNextAssignment" v-else>
                <button class="button is-warning">Start Next Assignment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Publish',
    data () {
      return {
        storyCounter: 0
      }
    },
    computed: {
      ...mapState(['seeBoss', 'response', 'feedbacks', 'currentMagazineSet', 'imageResult', 'assignmentResults'])
    },
    methods: {
      goNextAssignment () {
        this.$store.commit('clearCurrentArticleCover')
        this.$store.commit('disableIcons')
        this.$store.commit('changeCurrentSet')

        this.$router.push('/player-desk')
      },
      lastReview () {
        this.$router.push('/final-review')
        this.$store.commit('finalEnding')
      },
      nextScene () {
        this.storyCounter++
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'amarath bold', sans-serif;
  $regular: 'amarath regular', sans-serif;

  .section {
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  .publish-screen {
    height: 100vh;
  }

  .publish-screen-left {
    position: relative;

    img {
      position: absolute;
      bottom: -30%;
      left: 10%;
      width: 80%;

    }
  }

  .publish-screen-right {
    animation: bubblefade 2.2s;

    .speech-bubble-publish-border {
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
      background-color: rgba(0, 0, 0, 0.5);
      margin-top: 55%;
      height: 35%;
      width: 70%;
      position: relative;
    }

    .speech-bubble-publish {
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 80%, 0 80%, 10% 70%);
      background-color: rgba(241, 136, 150, 0.9);
      margin: 1% 0 0 2%;
      height: 96%;
      width: 96%;
      position: absolute;
      padding: 1% 1% 0 12%;

      p {
        font-family: $regular;
        font-size: 1.5em;
        color: #180b0b;
      }
    }

    .speech-bubble-publish-button {
      margin: 5% auto 0;
      cursor: pointer;
      width: 30%;

      &:hover {
        -webkit-animation: bobble 3s infinite;
        animation: bobble 2s infinite;
      }
      img {
        position: relative;
        padding: 0 0 0 10%;
        -webkit-animation: popup 3s linear;
        animation: popup 3s linear;
      }
    }
  }

  .results-email {
    height: 100vh;

    .results-email-left {
      position: relative;

      img {
        animation: slidingUp 0.5s;
        position: absolute;
        width: 80%;
        left: 0;
        bottom: 0;
      }
    }

    .results-email-right {
      position: relative;

      .phone {
        animation: bubblefade 1.2s;
        transform: rotate(5deg);
        position: absolute;
        bottom: 0;
        right: 0;
        height: 85%;
        width: 80%;
        background-color: honeydew;
        box-shadow: 0 0 0 2px #4a4a4a,
        0 0 0 1vw #195a5d,
        0 0 0 5vw #31B0B3,
        0 0 0 5.1vw #4a4a4a;

        img {
          border: 3px solid #4a4a4a;
          border-radius: 50%;
          margin: 5%;
          width: 30%;
        }

        p {
          padding: 1% 2%;
          font-family: $regular;
          font-size: 1.2em;
          line-height: 130%;
        }

        button {
          font-family: $bold;
          font-size: 1.2em;
          margin: 3% 0 0 5%;
          transition: all 1s;

          &:hover {
            background-color: #fdd4ff;
            animation: color;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }
        }
      }
    }
  }

  @keyframes color {
    0% {
      background-color: #fdd4ff;
    }
    50% {
      background-color: #d897dd;
    }
    100% {
      background-color: #fdd4ff;
    }
  }

  @-webkit-keyframes color {
    0% {
      background-color: #fdd4ff;
    }
    50% {
      background-color: #d897dd;
    }
    100% {
      background-color: #fdd4ff;
    }
  }

  @keyframes slidingUp {
    0% {
      left: -20%;
      bottom: -50%;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
      bottom: 0;
    }
  }

  @-webkit-keyframes slidingUp {
    0% {
      left: -20%;
      bottom: -50%;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
      bottom: 0;
    }
  }

  @keyframes bobble {
    0% {
      transform: translate3d(0, 0px, 0px);
      animation-timing-function: ease-in;
    }
    20% {
      transform: translate3d(0, 5px, 0px);
      animation-timing-function: ease-out;
    }
    40% {
      transform: translate3d(0, -5px, 0px);
      animation-timing-function: ease-out;
    }

    80% {
      transform: translate3d(0, 5px, 0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translate3d(0, 0px, 0px);
    }
  }

  @-webkit-keyframes bobble {
    0% {
      transform: translate3d(0, 0px, 0px);
      animation-timing-function: ease-in;
    }
    20% {
      transform: translate3d(0, 5px, 0px);
      animation-timing-function: ease-out;
    }
    40% {
      transform: translate3d(0, -5px, 0px);
      animation-timing-function: ease-out;
    }

    80% {
      transform: translate3d(0, 5px, 0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translate3d(0, 0px, 0px);
    }
  }

  @keyframes popup {
    0% {
      top: 500px;
    }
    75% {
      top: 500px;
    }
    95% {
      top: -15px;
    }
    100% {
      top: 0px;
    }
  }

  @-webkit-keyframes popup {
    0% {
      top: 500px;
    }
    75% {
      top: 500px;
    }
    95% {
      top: -15px;
    }
    100% {
      top: 0px;
    }
  }
</style>
