<template>
  <section class="section">
    <div class="container">
      <div class="research-page columns is-mobile">
        <div class="research-ryan-image column is-3 has-text-centered">
          <img :src="require(`@/assets/images/ryan-face.png`)"/>

          <h1>Ryan</h1>
          <h2>Head of Research</h2>

          <div class="back-button">
            <button class="button is-back" @click="backToPlayerDesk">
              <span class="text">Exit</span>
              <span class="logo">⇲</span>
            </button>
          </div>
        </div>

        <div class="research-email column is-9">
          <div class="research-email-header">
            <span>To: </span>
            <p>editor@criticalpublishing.com</p>
          </div>

          <div class="research-email-header">
            <span>Cc: </span>
            <p>senior-editor@criticalpublishing.com, erin@criticalpublishing.com</p>
          </div>

          <div class="research-email-header">
            <span>Subject: </span>
            <p>Research Report for Assignment {{ currentMagazineSet + 1 }}</p>
          </div>

          <div class="research-email-content">
            <div class="research-email-message">
              <p>{{ research.message }} </p>
            </div>

            <div class="research-email-survey tile is-parent" v-for="mail in research.emails">
              <article class="tile is-vertical is-child notification is-warning">
                <div class="content">
                  <h1>{{ mail.author }}</h1>
                  <p>{{ mail.quote }}</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Research',
    computed: {
      ...mapState(['currentMagazineSet', 'researches']),
      research () {
        return this.researches[this.currentMagazineSet]
      }
    },
    methods: {
      backToPlayerDesk () {
        this.$router.push('/player-desk')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'amarath bold', sans-serif;
  $italic: 'amarath italic', sans-serif;
  $regular: 'amarath regular', sans-serif;

  section {
    background-color: #55cbe7;
    height: 100vh;
  }

  .container {
    height: 100%;
  }

  .research-page {
    height: 100%;
  }

  .research-ryan-image {
    background-color: #99D9EF;
    padding-top: 11%;
    margin: 1% 1% 1% 0;
    position: relative;

    img {
      width: 80%;
      border-radius: 50%;
      border: 3px solid #4A4A4A;
    }

    h1 {
      font-family: $regular;
      font-size: 2em;
    }

    h2 {
      font-family: $regular;
      font-size: 2em;
    }

    .is-back {
      position: absolute;
      bottom: 3%;
      left: 15%;
    }
  }

  .research-email {

    .research-email-header {
      display: flex;
      font-size: 1.25em;

      span {
        font-family: $bold;
        text-align: center;
        background-color: #99D9EF;
        width: 12%;
        margin: 0 1% 1% 0;
        padding: 0 1%;
      }

      p {
        font-family: $regular;
        background-color: #99D9EF;
        margin: 0 1% 1% 0;
        padding: 0 2%;
        width: 86%;
      }
    }

    .research-email-content {
      margin-right: 1%;
      padding-bottom: 2%;
      background-color: #99D9EF;
    }

    .research-email-message {
      padding: 2% 5% 1%;
      font-family: $regular;
      font-size: 1.4em;
    }

    .research-email-survey {
      h1 {
        font-family: $bold;
        font-size: 1.4em;
      }

      p {
        font-family: $italic;
        font-size: 1.2em;
      }
    }
  }
</style>
