<template>
  <div id="app">
    <div v-show="correctScreen">
      <transition enter-active-class="animated fadeIn">
        <keep-alive include="Activity">
          <router-view/>
        </keep-alive>
      </transition>
    </div>

    <transition enter-active-class="animated fadeIn">
      <div :key="correctScreen" class="hero is-fullheight rotate-screen"
           :style="{ backgroundImage: `url(${require(`@/assets/images/editor-wall.png`)})` }"
           v-show="!correctScreen">
        <div class="column has-text-centered rotate-screen-text">
          <h1 class="content is-uppercase">Please adjust your screen size</h1>
        </div>
      </div>
    </transition>

    <audio :src="require(`@/assets/audio/bg-music.mp3`)" autoplay loop></audio>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'App',
    computed: {
      ...mapState(['correctScreen'])
    },
    mounted () {
      this.invokeOrientationChange()
      window.addEventListener('resize', this.invokeOrientationChange)
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('correctScreen', window.innerWidth > window.innerHeight && window.innerHeight > window.innerWidth / 2.5)
      }
    }
  }
</script>

<style lang="scss">
  @import 'sass/app.scss';

  @font-face {
    font-family: 'amarath bold';
    src: url("./assets/fonts/amaranth-bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'amarath bold italic';
    src: url("./assets/fonts/amaranth-bolditalic.ttf") format('truetype');
  }

  @font-face {
    font-family: 'amarath italic';
    src: url("./assets/fonts/amaranth-italic.ttf") format('truetype');
  }

  @font-face {
    font-family: 'amarath regular';
    src: url("./assets/fonts/amaranth-regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'helvetica rounded';
    src: url("./assets/fonts/helvetica-rounded-lt-std.otf") format('opentype');
  }

  $bold: 'amarath bold', sans-serif;
  $bolditalic: 'amarath bold italic', sans-serif;
  $italic: 'amarath italic', sans-serif;
  $regular: 'amarath regular', sans-serif;
  $helveticabold: 'helvetica rounded', sans-serif;

  body, html {
    background-color: #000;
    overflow-x: hidden;
    overflow-y: hidden !important;
  }

  section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #f5dfe1;
    font-size: calc(0.45vw + 0.45vh + .5vmin);
    height: 100vh;
    font-family: $regular;
  }

  .rotate-screen {
    background-size: cover;
    background-position: right;

    .rotate-screen-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-family: $bold;
        font-size: 5vw;
        line-height: 80%;
        color: #2b2b2b;
      }
    }
  }

  .is-next {
    border: 5px double #ffe36a;
    border-radius: 0;
    font-family: $regular;
    font-size: 1.25em;
    color: #ffe36a;
    width: 5vw;
    height: 5vw;
    line-height: 100%;
    background-color: #1ebac0;
    transition: all 1s;
    outline: none;
    overflow: hidden;

    .logo {
      bottom: 35%;
      right: 5%;
      font-size: 3.5em;
      position: absolute;
      opacity: 0
    }

    &:hover {
      background-color: #4bddcd;;
      color: #ffe36a;
      border: 5px solid #ffe36a;;

      .logo {
        animation: 1s appear forwards;
      }

      .text {
        animation: 0.3s appear forwards reverse;
      }
    }

    &:focus {
      background-color: #1ebac0;
      border: 5px double #ffe36a;
      color: #ffe36a;
    }
  }

  .is-back {
    border: 5px double #68324a;
    border-radius: 0;
    font-family: $regular;
    font-size: 1.25em;
    color: #68324a;
    width: 5vw;
    height: 5vw;
    line-height: 100%;
    line-height: 100%;
    background-color: #fa828d;
    transition: all 1s;
    outline: none;
    overflow: hidden;

    .logo {
      bottom: 35%;
      left: 5%;
      font-size: 3.5em;
      transform: scaleX(-1);
      position: absolute;
      opacity: 0
    }

    &:hover {
      background-color: #f9a1a9;
      color: #68324a;
      border: 5px solid #68324a;

      .logo {
        animation: 1s appear forwards;
      }

      .text {
        animation: 0.3s appear forwards reverse;
      }
    }

    &:focus {
      background-color: #fa828d;
      border: 5px double #68324a;
      color: #68324a;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes bubblefade {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
